html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f8f8f8;
    padding-top: 2%;
}