.header {
    padding-top: 20px;
}

.text{
    padding-top: 15px;
    font-size: large;
    padding-bottom: 20px;
}

.bestCoursesList {
    padding-top: 50px;
}

.comment {
    padding-top: 50px;
}

.comment .header {
    padding-bottom: 30px;
}

.d-carousel ul li {
    background-color: rgba(74, 161, 189, 0.6);
}

.d-carousel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: auto;

    -moz-border-radius: 100px; /* Firefox */
    -webkit-border-radius: 100px; /* Safari, Chrome */
    border-radius: 100px; /* CSS3 */
}