/*
 * Header
 */
.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #555555; /* IE8 proofing */
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #555555;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #555555;
    border-bottom-color: #555555;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}


.dropdown:hover > .dropdown-menu {
    display: block;
}
/*
 * Cover
 */
.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Splash
 */
/* Отступ сверху для содержимого body (высота navbar = 50px)*/
html {
    height: 100%;
}

body {
    padding-top: 70px;
    overflow: auto;
    margin: 0; /* Убираем отступы */
    min-height: 100%; /* Высота страницы */
    background: url(../static/back.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
    background-attachment: fixed;
    font-family: Raleway, sans-serif;
}

.main-part > .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-bottom: 3%;
    bottom: 50px;
}

/* Заставка */
.splash {
    /* Отступ для содержимого, помещенного в splash */
    padding: 9em 0 2em;
    /* Картинка, которая используются для splash */
    background-color: #337ab7;
    /* Масштабируем картинку с сохранением пропорций */
    background-size: cover;
    /* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным */
    background-attachment: fixed;
    /* Цвет текста */
    color: #fff;
    /* Выравниваем текста внутри splash по центру */
    text-align: left;
}

.course-item {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    text-decoration-color: #0f0f0f;
    background-color: rgba(74, 161, 189, 0.6);
}

.jumbotron {
    background-color: rgba(74, 161, 189, 0.6);
}

.description {
    text-align: center;
    font-size: large;
    padding-bottom: 3%;
}

.but {
    padding-top: 5%;
}

.page-header {
    margin-top: 10px;

}

.form-group {
    margin: 3%;
}

.lect-header {
    padding-bottom: 3%;
}

.lect-header > .btn {
    margin-top: 20px;
}
/*by Timur ====================================== */

/* carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.carousel-caption  {
    font-size: x-large;
    margin-bottom: 13%;
    line-height: 40px;
}

.first-item {
    margin-bottom: 23%;
}

#MYCAROUSEL {
    padding-bottom: 70px;
}

.profile {
    padding-top: 70px;
    padding-bottom: 50px;
}

.course-header {
    padding: 0;
}

/*carousel*/

.d-carousel ul li {
    background: none;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 2px 0px #b7b7b7;
    -moz-box-shadow: 0px 1px 2px 0px #b7b7b7;
    box-shadow: 0px 1px 2px 0px #b7b7b7;
    padding: 15px;
    width: 200px;
}

.spacing {
    padding-top: 7px;
    padding-bottom: 7px;
}

.middlePage {
    width: 680px;
    margin: auto;
}

.logo {
    color: #455A64;
}

.d-carousel .jcarousel-item {
    width: 260px;
    height: 340px;
}

#my_panel_head {
    background-color: #B0BEC5;
    color: #37474F;
}

.loginButton {
    background-color: #CFD8DC;
}

.registration_form {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

.d-carousel .jcarousel-prev-horizontal {
    position: absolute;
    top: 89px;
    left: 0;
    margin-left: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding-left: 0;
    background: transparent url(http://iconizer.net/files/Brightmix/orig/monotone_arrow_left_small.png) no-repeat top left;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #F5F5F5;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #E0E0E0;
}

.lectures-table {
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}