.course-item img {
    height: 150px;
    padding-bottom: 10px;
}

.course-item {
    position: relative;
    height: 320px;
    margin-left: 75px;
    padding-bottom: 2em;
    margin-bottom: 30px;
}

.course-item h4 {
    text-align: center;
    font-size: 22px;
}

.course-item .btn {
    margin-top: 5px;
}

.list {
    margin-top: 25px;
}

.form-group {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.no-padding {
    padding: 0 !important;
}

.panel {
    margin-left: 44px;
    margin-right: 40px;
}
