

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #67809F;
    margin: auto;
    min-height: 60px;
    padding-top: 8px;
    position: fixed;
    transition: top 0.4s ease 0s;
}

.logo {
    margin-top: 6px;
    font-size: 40px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 700;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #4ec3cd;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
	margin-top: 6px;
}

