h2 {
    margin-top: 25px;
}

.description {
    text-align: left;
}

.description h2 {
    padding-bottom: 25px;
}

.description p {
    font-size: medium;
}

#aff h2{
   margin-bottom: 0px;
}

.lect-header .btn{
    width: 200px;
    margin-right: 20px;
}