.jumbotron {
    background-color: #F2F1EF;
}

.header {
    text-align: center;
    padding-bottom: 8px;
}

.description_data {
    text-align: center;
}

.but {
    text-align: center;
}

.description {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.nav a {
    color: black;
}


.tab-pane .page-header small {
    margin-top: 15px;
    margin-right: 10px;
}

.glyphicon-ok {
    color: limegreen;
}

.glyphicon-remove {
    color: red;
}

.btn-color {
    background-color: #E8EAF6;
}