/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: auto;*/
        /*max-width: 1250px;*/
    /*}*/
/*}*/

/*
 * Cover
 */
.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Splash
 */
/* Отступ сверху для содержимого body (высота navbar = 50px)*/
html {
    height: 100%;
}

body {
    padding-top: 60px;
    overflow: auto;
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */

    /*background: #E6E6E6;*/
    background: -webkit-linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%); /* FF3.6+ */
    background: linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%);
    background-size: cover; /* Фон занимает всю доступную площадь */

    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    padding: 1%;
    /*margin-top: 25px;*/
    /*margin-bottom: -200px;*/
    bottom: 50px;
    min-height: 100%;
    height: auto !important;

    padding-bottom: 20px;
}

/* Заставка */
.splash {
    /* Отступ для содержимого, помещенного в splash */
    padding: 9em 0 3em;
    /* Картинка, которая используются для splash */
    background-color: #337ab7;
    /* Масштабируем картинку с сохранением пропорций */
    background-size: cover;
    /* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным */
    background-attachment: fixed;
    /* Цвет текста */
    color: #fff;
    /* Выравниваем текста внутри splash по центру */
    text-align: left;
}

.course-item {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    height: 360px;
    background-color: #ECECEC;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: #E8EAF6;
}

.description {
    text-align: center;
    font-size: large;
    padding-bottom: 3%;
}

.but {
    padding-top: 5%;
}

.page-header {
    margin-top: 10px;

}

.form-group {
    margin: 3%;
}

.lect-header {
    padding-bottom: 3%;
}

.lect-header > .btn {
    margin-top: 20px;
}

/*by Timur ====================================== */

.profile {
    padding-top: 70px;
    padding-bottom: 50px;
}

.course-header {
    padding: 0;
}

/*carousel*/

.spacing {
    padding-top: 7px;
    padding-bottom: 7px;
}

.middlePage {
    width: 680px;
    margin: auto;
}

.logo {
    color: #455A64;
}

.no-border-panel {
    border: none;
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
}

#my_panel_head {
    background-color: #4B77BE;
    color: #E8EAF6;
    border: none;
}

.my-page-header {
    border-bottom: 1px solid #BDBDBD;
}

.loginButton {
    background-color: #CFD8DC;
}

.registration_form {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F5F5F5;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #E0E0E0;
}

.lectures-table {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.panel-logo {
    color: #757575;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.container[role='main'] {
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: white;
    border-radius: 5px;
    padding: 1em;
}

.colored-button {
    background-color: #4B77BE;
    color: #E8EAF6;
}

.colored-button:hover {
    color: #E8EAF6;
}

strong {
    color: #424242;
}

h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing {
    font-family: 'Comfortaa', cursive;
}

p, .lead {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    letter-spacing: -1px;
    color: #424242;
    font-weight: 700;
}

.message::-webkit-input-placeholder {
   padding-top: 3em;
    text-align: center;
}

.message::-moz-input-placeholder {
   padding-top: 3em;
    text-align: center;
}

.message:-ms-input-placeholder {
   padding-top: 3em;
    text-align: center;
}

h2 {
    font-size: 3em;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #424242;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #231f20;
    font-weight: 700;
}

.lead {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

p {
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}

/*------------------Utilities---------------------*/

a:hover, a:focus {
    text-decoration: none;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -10%;
}

::selection {
    background: #231f20; /* Safari */
    color: #FFFFFF;
}

::-moz-selection {
    background: #231f20; /* Firefox */
    color: #FFFFFF;
}

/*------------------Buttons---------------------*/
.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
}

.btn {
    border-radius: 4px;
    border: none;
}

.btn-lg {
    margin-top: 1em;
    line-height: 1.33;
    padding: 22px 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-sm {
    font-size: 14px;
    line-height: 1.33;
    padding: 10px 18px;
    font-weight: 400;
}

.btn-wide {
    width: 100%;
    font-size: 13px;
    line-height: 1.33;
    padding: 18px 28px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: #70cbce;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.btn-secondary {
    background-color: #ffffff;
    color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #ededed;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #67809F;
}

a.btn-sm {
    margin-bottom: 10px;
}

.blue-bg {
    background: #3F51B5;
    color: white;
}

.side-menu {

    position: absolute;
    background: #fff;
    border-radius: 4px;
    width: 300px;
}

.side-menu > li > a, .side-menu > li > input {
    background: #7986CB;
    border: solid 1px white;
    color: white;
}

.side-menu > li > a:hover, .side-menu > li > a:focus, .side-menu .open > a, .side-menu .open > a:hover, .side-menu .open > a:focus {
    background: #9FA8DA;
    color: white;
}

.cust-inp {
        position: relative;
    display: block;
    padding: 10px 10px;
        background: #7986CB;
    border: solid 1px white;
    color: white;
    width: 100%;
    text-align: left;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

hr.line {
    border: 2px solid;
}

.purple {
    border-color: #6d3f96;
    color: #6d3f96;
}

.blue {
    border-color: #70cbce;
    color: #3A539B
}

.yellow {
    border-color: #fdc05d;
    color: #fdc05d;
}


#link-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#link-panel:hover {
    background: rgba(52, 73, 94, 0.2);
    cursor: pointer;
}