{% extends "admin/base.html" %}

{% block title %}EducationSphere administration{% endblock %}

{% block branding %}

    <h1 id="site-name"><a href="{% url 'admin:index' %}">
        {% if request.user.is_superuser %}
            Администратор EducationSphere
        {% elif request.user.student_user.company_user %}
            Администрирование: {{ request.user.student_user.company_user.name }}
        {% elif request.user.student_user.teacher_group %}
            Администрирование: {% for groups in request.user.student_user.teacher_group.all %}
            {{ groups.company.name }}(учитель);
        {% endfor %}
        {% endif %}
    </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
