{% extends "base.html"%}
{% load static %}
{% block main %}
    <div class="main-part">
        <div class="container" role="main">
            <div class="page-header">
                <h2>Список лекций курса <strong>'{{ course.name }}'</strong></h2>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th class="col-lg-9">Название лекции</th>
                    <th>Перейти</th>
                </tr>
                </thead>
                <tbody>
                {% for lection in lections %}
                <tr>
                    <td>{{ lection.order }}</td>
                    <td><h4>{{ lection.name }}</h4></td>
                    <td><a class="btn btn-lg btn-default" href="{% url 'courses:lection' lection.course.id lection.id %}" role="button">Перейти к лекции</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}