{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/list_courses.css" %}">

    {#    <script src="{% static 'js/matchHeight.js' %}"></script>#}
    {#    <script>#}
    {##}
    {#        $(function () {#}
    {#            $('.course-item').matchHeight();#}
    {#        });#}
    {#    </script>#}
    <div class="main-part">
        <div class="container" role="main">
            <div class="page-header" style="border-bottom: none">
                <h2 class="text-center"><strong>Доступные курсы</strong></h2>
            </div>

            <div class="row" style="margin:auto;">
                <div class="col-sm-12">
                    <div id="imaginary_container">

                        <div class="panel panel-default">
                            <div class="panel-body" style="text-align: center">

                                <form class="form-inline" method="get" action="{% url 'courses:search' %}">
                                    <div class="form-group">
                                        <label for="searchtext">Название:</label>
                                        <input type="text" id="searchtext" name="search_text"
                                               class="form-control input-sm"
                                               placeholder="Введение в Python" style="margin-right: 0">
                                    </div>
                                    <div class="form-group ">
                                        <label class="" for="searchselect">Направление:</label>

                                        <select class="form-control input-sm" id="searchselect" name="direction">
                                            {% for direction in directions %}
                                                <option value="{{ direction.0 }}">{{ direction.1 }}</option>
                                            {% endfor %}
                                        </select>


                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn colored-button">Найти</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                {% for course in courses %}
                    <div class="course-item col-sm-3 no-padding">
                        {% cloudinary course.image.url class="col-md-12 no-padding" %}
                        <hr class="line blue">


                        <div class="content" style="margin-left: 1em">
                            {{ course.creater }}
                            <p>
                                <strong>
                                    <a href="{% url 'courses:one' course.id %}">

                                        <span id="link-panel"></span>
                                    </a>
                                    {{ course.name }}


                                </strong>

                            </p>
                        </div>


                        {#                            <a class="btn colored-button text-center"#}
                        {#                               href="{% url 'courses:one' course.id %}"#}
                        {#                               role="button">Подробнее</a>#}
                    </div>

                {% endfor %}
            </div>


            <div class="text-center">
                <ul class="pagination">

                    {% if courses.has_previous %}
                        <li><a href="?page=

                                {{ courses.previous_page_number }}{% if search != None %}&search_text={{ search }}&direction={{ direction }}{% endif %}"><span>&laquo;</span></a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in courses.paginator.page_range %}
                        {% if courses.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page=
                                    {{ i }}{% if search != None %}&search_text={{ search }}&direction={{ direction }}{% endif %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}




                    {% if courses.has_next %}
                        <li><a href="?page=

                                {{ courses.next_page_number }}{% if search != None %}&search_text={{ search }}&direction={{ direction}}{% endif %}"><span>&raquo;</span></a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </div>


{% endblock %}