{% extends "base.html" %}
{% load static %}
{% load courses_filters %}
{% load widget_tweaks %}
{% block main %}
    {% load cloudinary %}


    <div class="row">
        <a href="{% url 'courses:lection' course_id lection_id%}" role="button">Назад</a>
        <div class="col-lg-4 col-lg-offset-4">
            <div class="panel">
                <div class="panel-heading"><h3>Тест</h3>
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for k in answers.keys %}
                            {% if tasks|is_final:k %}
                                <div class="question">
                                <b>{{ k|get_final_question|safe }}</b>
                                </div>
                                {% if tasks|has_photo:k %}
                                {% cloudinary k|get_photo style="margin-top:2em" class="col-sm-11 img-responsive col-sm-offset-1" %}
                                    {% endif %}
                                {% if not tasks|answer_is_photo:k %}
                                <textarea class="form-control" name="{{ k|tostring }}" id="photo+{{ k|tostring }}"></textarea>
                                    {% else %}
                                    {{ f.file }}
                                {% endif %}
                            {% else %}
                            <div class="question">
                                <b>{{ k|get_question|safe }}</b>
                            </div>
                            {% for answer in answers|get_item:k %}
                                <div class="form-group">
                                <div class="col-lg-10">
                                    <label class="control-label" for="{{ answer }}">
                                        {% if not tasks|is_text:k %}{{ answer }}{% endif %}</label>
                                </div>
                                {% if tasks|is_checkbox:k %}
                                    <div class="col-lg-2">
                                    <input type="checkbox" name="{{ k |tostring }}" class="form-control"
                                           value="{{ answer }}" id="{{ answer }}">

                                {% elif tasks|is_radio:k %}
                                    <div class="col-lg-2">
                                    <input type="radio" class="form-control" name="{{ k|tostring }}"
                                           value="{{ answer }}" id="{{ answer }}">

                                {% else %}
                                    <div class="col-lg-12">
                                    <textarea minlength="1" class="form-control" name="{{ k|tostring }}" id="{{ answer }}"></textarea>

                                {% endif %}
                            </div>

                            </div>

                            {% endfor %}
                            {% endif %}
                            <hr>
                        {% endfor %}
                        <div class="spacing"></div>
                        <div class="form-group">
                            <input style="margin-top: 1em" type="submit" class="form-control btn blue-bg" name="" id="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}