{% extends "base.html" %}
{% load static %}
{% load courses_filters %}
{% load cloudinary %}
{% block main %}
    <link rel="stylesheet" href="{% static "css/show_course.css" %}">
    <div class="main-part">
        <div class="container" role="main">
            <div class="row" style="margin:auto;">
                {# <button class="btn colored-button" style="color: white">#}
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <a href="{% url 'courses:all' %}" style="color: black">Список курсов</a>
                {#                    </button>#}
                <div class="jumbotron col-lg-12" style="padding-top: 10px; padding-bottom: 20px">
                    <div class="col-lg-6">

                        <div class="header">
                            <h2><strong>{{ course.name }}</strong></h2>
                        </div>
                        <div class="description_data">
                            <p>
                                <small>Начало курса: <i>{{ course.date_begining.date }}</i></small>
                            </p>
                            <p>
                                <small>Окончание курса: <i>{{ course.date_ending.date }}</i></small>
                            </p>
                            <p>
                                <small>Направление курса: <i>{% direction_name course.direction %}</i></small>
                            </p>

                            <p>
                                <small>Автор: <i>{{ course.creater }}</i></small>
                            </p>
                            <p><a style="color: #0a568c" href="{% url 'courses:support' course.id %}">Связаться с
                                компанией курса</a></p>
                        </div>

                        {% if not request.user.student_user in course.creater.company_teachers.teachers.all and not request.user.student_user == course.creater.user %}
                            <div class="but">
                                {% if button %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="form" value="subscribe"/>
                                        <button type="submit" class="btn colored-button">{% if not subscribed %}
                                            Записаться
                                            на
                                            курс{% else %}Отписаться от курса{% endif %}</button>
                                    </form>
                                {% else %}
                                    {% if not request.user.is_authenticated %}
                                        Чтобы записаться  на этот курс, вам нужно авторизоваться и пройти
                                        предшествующий:
                                        <a href="{% url 'courses:one' course.course_next.id %}">{{ course.course_next.name }}</a>
                                    {% else %}
                                        Чтобы записаться  на этот курс, вам нужно пройти предшествующий:
                                        <a href="{% url 'courses:one' course.course_next.id %}">{{ course.course_next.name }}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="but">
                                {% if show_test %}
                                    <a href="{% url 'courses:test' course.id %}" role="button"
                                       class="btn colored-button">Перейти к финальному тесту</a>
                                {% endif %}
                            </div>
                        {% elif request.user.student_user == course.creater.user %}

                            <p class="text-center">
                                <b>Вы являетесь администратором этого курса:</b>
                                <a href="/admin/courses/lection/" type="button" style="margin-top: 1em"
                                   class="btn colored-button">Перейти
                                    в режим управления
                                    лекциями.
                                </a>
                            </p>
                            <p>
                                {% if show_test %}
                                    <a href="{% url 'courses:test' course.id %}" role="button"
                                       class="btn colored-button">Перейти к финальному тесту</a>
                                {% endif %}
                            </p>
                        {% elif request.user.student_user in course.creater.company_teachers.teachers.all %}
                            <p>
                                <small>Вы являетесь куратором этого курса:</small>
                                <a href="/admin/courses/lection/" type="button" class="btn btn-lg colored-button">Перейти
                                    в режим управления
                                    лекциями.
                                </a>
                            </p>
                            <p>
                                {% if show_test %}
                                    <a href="{% url 'courses:test' course.id %}" role="button"
                                       class="btn colored-button">Перейти к финальному тесту</a>
                                {% endif %}
                            </p>
                        {% endif %}

                    </div>
                    <div class="col-lg-6">
                        {% cloudinary course.image.url style="margin-top:2em" class="col-sm-11 img-responsive col-sm-offset-1" %}
                    </div>
                </div>

                {% if subscribed and lections %}
                    {#Panel#}
                    <div class="row" style="margin: auto">
                        {# Panel links #}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#1" data-toggle="tab"><strong>О курсе</strong></a>
                            </li>
                            <li><a href="#2" data-toggle="tab"><strong>Отзывы</strong></a>
                            </li>
                            <li><a href="#3" data-toggle="tab"><strong>Список лекций</strong></a>
                            </li>
                        </ul>
                        {# End Panel links #}


                        {# Panel content #}
                        <div class="tab-content ">
                            {# Panel content About section #}
                            <div class="tab-pane active description" id="1">
                                <p>{{ course.about| safe }}</p>
                            </div>
                            {# End Panel content About section #}


                            {# Panel content Review section #}
                            <div class="spacing"></div>
                            <div class="tab-pane" id="2">
                                <div class="row" style="margin:auto;">
                                    <div class="col-lg-12">
                                        {# Panel content Add review Form #}
                                        <div class="row" id="post-review-box">
                                            <div class="col-md-12">
                                                <form accept-charset="UTF-8" id="post-form"
                                                      action="{% url 'courses:reviews' course.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input id="ratings-hidden" name="rating" type="hidden">
                                                    {% if not_80_percent is True %}
                                                        <textarea
                                                                disabled
                                                                class="form-control animated message" cols="50"
                                                                id="new-review" name="comment"
                                                                placeholder="Для того, чтобы оставить отзыв,вам необходимо пройти 80% курса"
                                                                rows="5"></textarea>
                                                    {% else %}
                                                        <textarea
                                                                class="form-control animated" cols="50"
                                                                id="new-review" name="comment"
                                                                placeholder="Оставьте свой отзыв"
                                                                rows="5"></textarea>
                                                    {% endif %}

                                                    <div class="spacing"></div>

                                                    {% if not_80_percent is False %}
                                                        <div class="text-right">
                                                            <div class="stars starrr" data-rating="0"></div>
                                                            <button class="btn btn-success" id="submit"
                                                                    type="submit">Сохранить
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                        {# Panel content add review end #}

                                    </div>
                                </div>


                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="page-header list row">
                                                <div class="col-lg-6">
                                                    <h2 class="panel-logo"><strong>
                                                        Отзывы пользователей
                                                    </strong></h2>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h1>
                                                        <small id="count" class="pull-right">
                                                            Ответов: {{ count }}</small>
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="reviews" id='reviews'>
                                                {% for review in reviews %}
                                                    <div class="media">
                                                        <p class="pull-right" style="margin: 10px">
                                                            <small>{{ review.date }}</small>
                                                        </p>

                                                        <a class="media-left" href="#">
                                                            {% cloudinary review.user.photo.url width=100 height=100 %}
                                                        </a>


                                                        <div class="media-body">

                                                            <h4 class="media-heading user_name">{{ review.user.user.first_name }} {{ review.user.user.last_name }}</h4>
                                                            {{ review.text }}

                                                            <p>
                                                                <small><a href="">Мне нравится</a> - <a href="">Поделиться</a>
                                                                </small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Panel content Review section #}

                            {# Panel content Lections section #}
                            <div class="tab-pane" id="3">
                                <div class="row" style="margin:auto;">
                                    <div class="col-lg-12">
                                        <div class="page-header">
                                            <h2>Список лекций курса <strong>'{{ course.name }}'</strong></h2>
                                        </div>
                                        <div class="table-responsive">
                                            <div class="panel">
                                                <table class="table table-hover lectures-table">
                                                    <thead>
                                                    <tr>
                                                        <th>№</th>
                                                        <th class="col-lg-8">Название лекции</th>
                                                        <th>Задания</th>
                                                        <th>Перейти</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {% for lection in lections %}
                                                        <tr>
                                                            <td>{{ lection.order }}</td>
                                                            <td><h4>{{ lection.name }}</h4></td>
                                                            <td class="text-center"><h4><span
                                                                    class="glyphicon glyphicon-remove"></span></h4>
                                                                {% comment %}если задание сделано <h4><span class="glyphicon glyphicon-ok"></span></h4>{% endcomment %}
                                                            </td>
                                                            <td><a class="btn blue-bg"

                                                                   href="{% url 'courses:lection' lection.course.id lection.id %}"
                                                                   role="button">Перейти к лекции</a></td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# End Panel content Lections section #}
                            {# Panel content #}
                        </div>
                    </div>
                    {# End Panel #}
                {% elif not subscribed and lections and request.user.is_authenticated %}
                    {#Panel#}
                    <div class="row" style="margin: auto">
                        {# Panel links #}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#1" data-toggle="tab"><strong>О курсе</strong></a>
                            </li>
                            <li><a href="#2" data-toggle="tab"><strong>Отзывы</strong></a>
                            </li>
                        </ul>
                        {# End Panel links #}


                        {# Panel content #}
                        <div class="tab-content ">
                            {# Panel content About section #}
                            <div class="tab-pane active description" id="1">
                                <p>{{ course.about| safe }}</p>
                            </div>
                            {# End Panel content About section #}


                            {# Panel content Review section #}
                            <div class="spacing"></div>
                            <div class="tab-pane" id="2">
                                <div class="row" style="margin:auto;">
                                    <div class="col-lg-12">
                                        {# Panel content Add review Form #}
                                        <div class="row" id="post-review-box">
                                            <div class="col-md-12">
                                                <form accept-charset="UTF-8" id="post-form"
                                                      action="{% url 'courses:reviews' course.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input id="ratings-hidden" name="rating" type="hidden">
                                                    {% if not_80_percent is True %}
                                                        <textarea
                                                                disabled
                                                                class="form-control animated message" cols="50"
                                                                id="new-review" name="comment"
                                                                placeholder="Для того, чтобы оставить отзыв,вам необходимо пройти 80% курса"
                                                                rows="5"></textarea>
                                                    {% else %}
                                                        <textarea
                                                                class="form-control animated" cols="50"
                                                                id="new-review" name="comment"
                                                                placeholder="Оставьте свой отзыв"
                                                                rows="5"></textarea>
                                                    {% endif %}

                                                    <div class="spacing"></div>

                                                    {% if not_80_percent is True %}
                                                        <div class="text-right">
                                                            <div class="stars starrr" data-rating="0"></div>
                                                            <button class="btn btn-success" id="submit"
                                                                    type="submit">Сохранить
                                                            </button>
                                                        </div>
                                                    {% endif %}

                                                </form>
                                            </div>
                                        </div>
                                        {# Panel content add review end #}

                                    </div>
                                </div>


                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="page-header list row">
                                                <div class="col-lg-6">
                                                    <h2 class="panel-logo"><strong>
                                                        Отзывы пользователей
                                                    </strong></h2>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h1>
                                                        <small id="count" class="pull-right" style="margin-right: 15px">
                                                            Ответов: {{ count }}</small>
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="reviews" id='reviews'>
                                                {% for review in reviews %}
                                                    <div class="media">
                                                        <p class="pull-right" style="margin-right: 10px">
                                                            <small>{{ review.date }}</small>
                                                        </p>

                                                        <a class="media-left" href="#">
                                                            {% cloudinary review.user.photo.url width=100 height=100 %}
                                                        </a>


                                                        <div class="media-body">

                                                            <h4 class="media-heading user_name">{{ review.user.user.first_name }} {{ review.user.user.last_name }}</h4>
                                                            {{ review.text }}

                                                            <p>
                                                                <small><a href="">Мне нравится</a> - <a href="">Поделиться</a>
                                                                </small>
                                                            </p>

                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Panel content Review section #}
                            {# Panel content #}
                        </div>
                    </div>
                    {# End Panel #}
                {% elif not request.user.is_authenticated and lections and not subscribed %}
                    {#Panel#}
                    <div class="row" style="margin: auto">
                    {# Panel links #}
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1" data-toggle="tab"><strong>О курсе</strong></a>
                        </li>
                        <li><a href="#2" data-toggle="tab"><strong>Отзывы</strong></a>
                        </li>


                    </ul>
                    {# End Panel links #}


                    {# Panel content #}
                    <div class="tab-content ">
                        {# Panel content About section #}
                        <div class="tab-pane active description" id="1">
                            <p>{{ course.about| safe }}</p>
                        </div>
                        {# End Panel content About section #}


                        {# Panel content Review section #}
                        <div class="spacing"></div>
                        <div class="tab-pane" id="2">
                            <div class="row" style="margin:auto;">
                                <div class="col-lg-12">
                                    {# Panel content Add review Form #}
                                    <div class="row" id="post-review-box">
                                        <div class="col-md-12">
                                            <form accept-charset="UTF-8" id="post-form"
                                                  action="{% url 'courses:reviews' course.id %}" method="post">
                                                {% csrf_token %}
                                                <input id="ratings-hidden" name="rating" type="hidden">
                                                <textarea
                                                        disabled
                                                        class="form-control animated message" cols="50"
                                                        id="new-review" name="comment"
                                                        placeholder="Для того, чтобы оставить отзыв,вам необходимо зарегистрироваться и пройти 80% курса"
                                                        rows="5"></textarea>
                                                <div class="spacing"></div>

                                            </form>
                                        </div>
                                    </div>
                                    {# Panel content add review end #}

                                </div>
                            </div>
                            {# Panel content #}
                        </div>
                    </div>
                    {# End Panel #}
                {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/AjaxReviews.js' %}"></script>

{% endblock %}