{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block main %}
<div align="center"><h1>Сертификаты</h1></div>
    <hr style="border-top: 1px solid #737373">
{% if certificates %}
{% for cert in certificates %}
    <a href="{% url 'auth:certificates' %}?course_id={{ cert.course.id }}">{% cloudinary cert.image.url width="250px" height="250px" %}</a>
{% endfor %}
{% else %}

<div class="text-center">
<strong>У вас еще не было достижений</strong>
</div>
{% endif %}
{% endblock %}