{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block main %}
    <div class="main-part">
        <div class="container" role="main">

            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <a href="{% url 'courses:one' course.id %}" style="color: black">Назад к курсу</a>

            <div class="row">
                <div class="col-lg-12 lect-header">
                    <h2 class="col-lg-3">
                        <strong>
                            Лекция №{{ lection.order }}
                        </strong>
                        <small>
                            Курс {{ course.name }}
                        </small>
                    </h2>
                    {% if tasks %}
                    <a class="btn btn-sm blue-bg col-md-offset-6"
                       href="{% url 'courses:lection_task' course.id lection.id %}"
                       role="button">Перейти к заданиям</a>
                    {% endif %}
                </div>
            </div>
            {% if lection.youtube_url %}
                <div class="col-lg-12">
                    <div class="video">
                        <div class="col-lg-7 col-md-offset-2">
                            <iframe width="700" height="450" src="{{ lection.youtube_url }}" frameborder="0"
                                    allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
            {% endif %}
            <div style="text-align: left !important;" class="col-lg-12 description">
                <h3>
                    <strong>
                        {{ lection.name }}
                    </strong>
                </h3>


                <p style="text-align: left !important;">{{ lection.info | safe }}</p>
            </div>
        </div>

        <div class="container" id='aff'>

            <div class="row">
                <h2 style="color:#424242">Комментарии</h2>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} style="color: red"
                                                 class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="row">

                <div class="col-md-6">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form accept-charset="UTF-8" id="add_comment" class="message_form" method="post">
                                {% csrf_token %}
                                <textarea name="comment_message" id='textarea_message'
                                          placeholder="Leave a message!"></textarea>
                                <ul>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                </ul>
                                <input type="hidden" value="aaa" id="hidden" name="replyest" class="hidden"/>
                                <button type="submit" class="btn btn-success blue-bg" id="submit_comment"><i
                                        class="fa fa-share"></i> Share
                                </button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>

            </div>
            <div class="row">
                <!-- Contenedor Principal -->
                <div class="comments-container">

                    <ul id="comments-list" class="comments-list">
                        <div id="list_comments">
                            {% for comment in comments %}
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"
                                             id="avatar">{% cloudinary comment.student.photo.url %}</div>
                                        <!-- Contenedor del Comentario -->
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name"><a
                                                        href="#">{{ comment.student.user.first_name }} {{ comment.student.user.lastname_name }}</a>
                                                </h6>
                                                <span>{{ comment.pub_date | timesince }} назад</span>
                                                {% if request.user.is_superuser %}
                                                    <i class="fa fa-reply"
                                                       onclick="show_f({{ comment.student.user.username|escapejs|safeseq }},{{ comment.id | escapejs | safeseq }})"><a
                                                            onclick="document.getElementById('aff').scrollIntoView();"
                                                            style="color: #0a568c">Reply</a></i>
                                                {% endif %}
                                            </div>
                                            <div class="comment-content">
                                                {{ comment.message }}
                                            </div>
                                        </div>
                                    </div>

                                    <div id="list_reply">
                                        {% for rep in replyes %}
                                            {% if rep.comment.id == comment.id %}
                                                <!-- Respuestas de los comentarios -->
                                                <ul class="comments-list reply-list">
                                                    <li>
                                                        <!-- Avatar -->
                                                        <div class="comment-main-level">
                                                            <!-- Avatar -->
                                                            <div class="comment-avatar">{% cloudinary rep.student.photo.url %}</div>
                                                            <!-- Contenedor del Comentario -->
                                                            <div class="comment-box">
                                                                <div class="comment-head">
                                                                    <h6 class="comment-name by-author"><a
                                                                            href="#">{{ rep.student.user.first_name }} {{ rep.student.user.last_name }}</a>
                                                                    </h6>
                                                                    <span>{{ rep.pub_date | timesince }}</span>
                                                                </div>
                                                                <div class="comment-content">
                                                                    {{ rep.message | safe }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        {% if request.user.is_superuser %}
            function show_f(email, param) {
                var s = "Reply to [";
                var e = "";
                for (var i = 0; i < email.length; i++) {
                    s = s + email[i];
                }
                for (var j = 0; j < param.length; j++) {
                    e = e + param[j];
                }
                s = s + "] : ";
                document.querySelector(".hidden").value = e;
                document.getElementById("textarea_message").innerHTML = s;
                document.getElementById("submit_comment").id = "";
            }
            $("a[href='#top']").click(function () {

                $("html, body").animate({scrollTop: 0}, "slow");
                return false;
            });
        {% endif %}
    </script>
    <script src="{% static 'js/AjaxReviews.js' %}">
    </script>
{% endblock %}