{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="main-part">
    <div class="container" role="main">
        <div class="page-header">
            <h1>Название курса</h1>
        </div>
        <div class="col-lg-12 lect-header">
            <h2>Лекция №1</h2>
        </div>
        <form role="form">
            <div class="form-group">
                <h3>Содержание вопроса № 1</h3>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="check1">
                        вариант 1
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="check2">
                        вариант 2
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h3>Содержание вопроса № 1</h3>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radio1" value="option1" checked>
                        Первый элемент списка из радиокнопок, её можно выбирать
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radio22" value="option2">
                        Вторая опция списка, заблокированная
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="radio3" value="option3">
                        Третья смешная опция
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h3>Содержание вопроса № 3</h3>
                <input type="text" class="form-control" placeholder="Напишите свой ответ">
            </div>
            <div class="form-group">
                <h3>Содержание вопроса № 4</h3>
                <textarea class="form-control" rows="5" placeholder="Напишите свой ответ"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-default">Готово</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}