{% extends "base.html" %}
{% load static %}
{% load courses_filters %}
{% block main %}
    {% comment %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel" style="padding: 15px;">

                <div class="panel-heading"><h3>Тест</h3>
                </div>

                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for k in answers.keys %}

                            <div class="row well" id="inp{{ k }}">

                            <div class="question">
                                <b>{{ k|get_question|safe }}</b>
                            </div>

                            {% for answer in answers|get_item:k %}
                                <div class="form-group spacing">

                                <label class="control-label col-lg-6" for="{{ answer }}">
                                    {% if not tasks|is_text:k %}{{ answer }}{% endif %}</label>
                                {% if tasks|is_checkbox:k or tasks|is_radio:k %}
                                    <div class="col-lg-6">



                                    {% if answer in given_answers|get_item:k %}
                                        <small>Выбранный вами</small>
                                    {% endif %}
                                    {% if answer|is_right:k %}
                                        <small><b>Правильный</b></small>

                                    {% endif %}

                                    {% if answer in given_answers|get_item:k and answer|is_right:k %}
                                        <script>
                                            document.getElementById('inp{{k}}').style.backgroundColor = '#00E676';
                                        </script>
                                    {% elif answer in given_answers|get_item:k and not answer|is_right:k %}
                                        <script>
                                            document.getElementById('inp{{k}}').style.backgroundColor = '#EF5350';
                                            console.log("Incorrect + inp{{ k }}")
                                        </script>

                                    {% endif %}


                                {% else %}
                                    <div class="col-lg-12">
                                    <textarea class="form-control" name="{{ k|get_question }}" id="{{ answer }}"
                                              disabled>{{ given_answers|get_item:k }}</textarea>
                                    <small><b>Правильный ответ </b>: {{ right_answers|get_item:k }}</small>

                                    {% if given_answers|get_item:k == right_answers|get_item:k %}
                                        <script>
                                            document.getElementById('inp{{k}}').style.backgroundColor = '#00E676';
                                        </script>
                                    {% else %}
                                        <script>
                                            document.getElementById('inp{{k}}').style.backgroundColor = '#EF5350';
                                            console.log("Incorrect + inp{{ k }}")
                                        </script>

                                    {% endif %}

                                    <div class="spacing"></div>
                                {% endif %}


                            </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <b><p>Вы набрали {{ points }} баллов(-а,)!</p>
                        </b>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    <div class="main-part">
        <div class="container" role="main">
            <div class="page-header">
                <h1><strong>Тест</strong></h1>
            </div>
            <div class="row" style="margin:auto;">
                <div class="panel" style="padding: 15px;">
                    <div class="panel-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for k in answers.keys %}
                                <div class="form-group">
                                <div class="row well" id="inp{{ k }}">

                                    <div class="question">
                                        <h4>{{ k|get_question|safe }}</h4>
                                    </div>

                                    {% for answer in answers|get_item:k %}
                                        <div class="form-group spacing">

                                        <label class="control-label col-lg-6" for="{{ answer }}">
                                            {% if not tasks|is_text:k %}{{ answer }}{% endif %}</label>
                                        {% if tasks|is_checkbox:k or tasks|is_radio:k %}
                                            <div class="col-lg-6">


                                            {% if answer in given_answers|get_item:k %}
                                                Выбранный вами
                                            {% endif %}
                                            {% if answer in right_answers|get_item:k %}
                                                Правильный

                                            {% endif %}

                                            {% if answer in given_answers|get_item:k and answer|is_right:k %}
                                                <script>
                                                    document.getElementById('inp{{ k }}').style.backgroundColor = '#00E676';
                                                </script>
                                            {% elif answer in given_answers|get_item:k and not answer|is_right:k %}
                                                <script>
                                                     document.getElementById('inp{{ k }}').style.backgroundColor = '#EF5350';
                                                    console.log("Incorrect + inpt{{ k }}")
                                                </script>

                                            {% endif %}


                                        {% else %}
                                            <div class="col-lg-12">
                                            <textarea class="form-control" name="{{ k|get_question }}" id="{{ answer }}"
                                                      disabled>{{ given_answers|get_item:k }}</textarea>
                                            <p>Правильный ответ: {{ right_answers|get_item:k }}</p>

                                            {% if given_answers|get_item:k == right_answers|get_item:k %}
                                                <script>
                                                    document.getElementById('inp{{k}}').style.backgroundColor = '#00E676';
                                                </script>
                                            {% else %}
                                                <script>
                                                    document.getElementById('inp{{k}}').style.backgroundColor = '#EF5350';
                                                    console.log("Incorrect + inp{{ k }}")
                                                </script>

                                            {% endif %}

                                            <div class="spacing"></div>
                                        {% endif %}


                                    </div>
                                    </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <h3>{% if final_test  %}
                                   Ваши ответы успешно отправлены учителям!
                                {% else %}
                                    Вы набрали {{ points }} балла(-ов)!
                                {% endif %}
                            </h3>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}