{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Sphere</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link href="{% static "css/comments.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/send_comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="https://use.fontawesome.com/fcddfd1d88.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/footerStyle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</head>
<body>
{% include "menu.html" %}
<div class="wrapper">
    {% block main %}{% endblock %}
</div>
{% include 'footer.html' %}


</body>
</html>