{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block main %}

    <div class="middlePage">
        <div class="page-header my-page-header">
            <h2 class="panel-logo">EducationSphere</h2>

            <p>Добро пожаловать!</p>
        </div>

        <div class="panel panel-info no-border-panel">
            <div class="panel-heading" id="my_panel_head">
                <h3 class="panel-title">Пожалуйста, войдите</h3>
            </div>




            <div class="panel-body">
             {% if messages %}
                <div class="errors row" style="color: red">
                    <div class="col-md-6 col-sm-offset-6">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %}
                                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            {% endif %}

                <div class="row">
                    <div class="col-md-5">
                        Еще нет аккаунта на <b>EducationSphere</b>?
                        <br>
                        <a href="{% url "auth:register" %}"> Зарегистрируйтесь</a>
                        <div class="spacing"></div>

                        Или войдите через социальные сети:
                        <div class="text-center">
                            <a href="/"><img src="{% static "img/btn_google_signin_light_normal_web.png" %}"></a>
                        </div>
                    </div>

                    <div class="col-md-7" style="border-left:1px solid #EEEEEE;height:160px">
                        {% if next %}
                            <form class="form-horizontal" action="auth/login/?next={{ next }}" method="post">
                        {% else %}
                            <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                        {% endif %}
                        {% csrf_token %}
                        <fieldset>

                            {% render_field form.username class="form-control input-md" type="email" placeholder="Введите имя" %}
                            <div class="spacing"></div>

                            {% render_field form.password class="form-control input-md" type="password" placeholder="Введите пароль" %}
                            <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0"
                                                        value="1">
                                <small>Запомнить меня</small>
                            </div>

                            <button id="singlebutton" type="submit" name="singlebutton"
                                    class="btn colored-button btn-sm pull-right">
                                Войти
                            </button>
                        </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
