{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>EducationSphere</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Styles -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainPAGENEWCSS.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


</head>

<body>


{% include 'menu.html' %}

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="{% url 'courses:main' %}"><p class="logo">EducationSphere</p></a>
            </div>
            <div class="col-xs-6 signin text-right navbar-nav">
                <a href="{% url 'courses:all' %}">Список курсов</a>
                &nbsp; &nbsp;
                {% if user.is_authenticated %}
                    {% if not request.user.is_superuser %}
                        <a href="{% url 'auth:profile' %}">{{ user.first_name }}</a>
                    {% else %}
                        <a href="{% url 'auth:profile' %}">Admin</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'auth:login' %}">Войти</a>
                {% endif %}
            </div>
        </div>

        <div class="row header-info">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="wow fadeIn">EducationSphere</h1>
                <br/>
                <p class="lead wow fadeIn" data-wow-delay="0.5s">
                    Место, где собраны знания.
                </p>
                <br/>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="row">
                            {% if user.is_authenticated %}
                                <div class="col-xs-12 text-center wow fadeInUp" data-wow-delay="1s">
                                    <a href="#be-the-first"
                                       class="btn btn-secondary btn-lg scroll">Узнать больше</a>
                                </div>
                            {% else %}
                                <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                                    <a href="#be-the-first"
                                       class="btn btn-secondary btn-lg scroll">Узнать больше</a>
                                </div>
                                <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                                    <a href="{% url 'auth:register' %}"
                                       class="btn btn-primary btn-lg">Регистрация</a>
                                </div>
                            {% endif %}

                        </div><!--End Button Row-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="mouse-icon hidden-xs">
    <div class="scroll"></div>
</div>

<section id="be-the-first" class="pad-xl">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2>Добро пожаловать!</h2>
                <p class="lead">Портал "Название проекта" предоставляет
                    различные
                    онлайн-курсы. Учитесь бесплатно, получайте сертификаты. Учитесь по своему собственнону
                    направлению
                    вместе с онлайн-курсами "Название проекта".</p>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                        <a href="{% url 'courses:all' %}" class="btn btn-secondary btn-lg">Список курсов</a>
                    </div>
                    <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                        {% if user.is_authenticated %}
                            <a href="{% url 'auth:profile' %}"
                               class="btn btn-primary btn-lg">Ваш профиль</a>
                        {% else %}
                            <a href="{% url 'auth:register' %}"
                               class="btn btn-primary btn-lg">Регистрация</a>
                        {% endif %}

                    </div>
                </div><!--End Button Row-->
            </div>
        </div>


    </div>
</section>

<section id="main-info" class="pad-sm">
    <div class="container">
        <div class="row">
            <div class="row margin-40">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2 class="black">Избранные курсы</h2>
                </div>
            </div>

            <div class="owl-carousel owl-theme row">
                {% for s_course in selected_courses %}
                    <div class="item  fav_course">
                        {% cloudinary s_course.course.image.url class="col-sm-12" height="180" style="padding: 0" %}
                        {% if forloop.counter == 1 %}
                            <hr class="line purple">
                        {% elif forloop.counter == 2 %}
                            <hr class="line yellow">
                        {% elif forloop.counter == 3 %}
                            <hr class="line blue">
                        {% endif %}


                        <div class="text-center">
                            <strong class="text-center" style="font-size: large">{{ s_course.course.name }}</strong>
                        </div>
                        <p class="text-center">
                            {{ s_course.course.creater.name }}
                        </p>


                        <div class="abc text-center" style="margin: 1em; position: absolute;
                                     bottom: 0; left: 0; right: 0;">
                            <a class="btn btn-primary text-center
                             btn-md" href="{% url 'courses:one' s_course.course.id %}"
                               role="button">Перейти</a>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
</section>

<section id="press" class="pad-sm" style="background-color: white">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="black">Отзывы</h2>
            </div>
        </div>
        {% for review in reviews %}
            <div class="row margin-30 news-container">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.8s">
                <a href="#" target="_blank">
                    {% cloudinary review.user.photo.url %}
                    <p class="black">{{ review.text }}<br/>
                        <small><em>{{ review.date }}</em></small>
                    </p>
                </a>

            </div>
        {% endfor %}
        </div>
</section>

{% include 'footer.html' %}


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

<script type="application/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/mainJS.js' %}"></script>

<script src="{% static 'js/matchHeight.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script>
    $('.owl-carousel').owlCarousel({
        nav: true,
        loop: true,
        margin: 15,
        autoplay: true,
        autoplayTimeout: 3500,
        autoplayHoverPause: true,
        navText: [
            "Вперед",
            "Назад"
        ],
        responsive: {
            0: {
                items: 1
            }
            ,
            600: {
                items: 3
            }
            ,
            1000: {
                items: 4
            }
        }
    })
</script>
</body>
</html>

