{% load static %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{% url 'courses:main' %}"><p class="logo">EducationSphere</p></a>


        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'courses:all' %}">Список курсов</a></li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown btn-toolbar">
                        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if request.user.is_superuser %}
                                Admin
                            {% else %}
                                {{ request.user.first_name }}
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'auth:profile' %}">Профиль</a></li>
                            <li><a href="{% url 'auth:certificates' %}">Сертификаты</a></li>
                            <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Гость
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'auth:login' %}">Войти</a></li>
                            <li><a href="{% url 'auth:register' %}">Зарегистрироваться</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>