{% extends "base.html" %}
{% load static %}
{% load courses_filters %}
{% load cloudinary %}


{% block main %}
{#        <script src="{% static 'js/matchHeight.js' %}"></script>#}
{#        <script>#}
{##}
{#            $(function () {#}
{#                $('.item').matchHeight();#}
{#            });#}
{#        </script>#}


    <div class="main-part">
        <div class="container" role="main">
            <div class="page-header"><h2><strong>Мой профиль</strong></h2></div>


            <div class="col-md-12 profile">
                <div class="row">
                    <div class="col-md-2">
                        {% cloudinary student.photo.url width=184 height=184 crop="thumb" radius="max" %}
                    </div>
                    <div class="col-md-offset-1 col-md-5">

                        <h4><strong>Имя : </strong>{{ student.user.first_name }} {{ student.user.last_name }}</h4>
                        <h4><strong>Почта: </strong>{{ student.user.username }}</h4>
                        <h4><strong>Дата рождения: </strong>{{ student.birthday }}</h4>
                        <h4><strong>Город: </strong>{{ student.city }}</h4>
                        <h4><strong>Место обучения: </strong>{{ student.university }}</h4>
                        <h4><strong>Текущий статус: </strong> Студент </h4>
                        {% if company %}
                            <h4><strong>Компания: </strong> {{ company.name }}</h4>
                        {% endif %}
                        {% if teacher_group %}
                            <h4><strong>Курирует компанию(-и):</strong>{% for t in teacher_group %}
                                <li style="margin-left: 50px; margin-top: 10px;">{{ t.company.name }}</li>
                            {% endfor %}</h4>
                        {% endif %}
                    </div>


                    <div class="col-md-4">
                        <ul class="nav side-menu">
                            <li><a href="{% url 'auth:edit' %}">
                                Редактировать профиль
                                <span class="glyphicon glyphicon-edit pull-right"></span></a>
                            </li>
                            <li class="divider"></li>


                            {% if request.user.is_superuser %}
                                <li>
                                    <a href="/admin/">Режим администрирования</a>
                                </li>

                            {% else %}
                                {% if teacher_group %}
                                    {% for t in teacher_group %}
                                        <li>
                                            <a href="/admin/" style="margin-top: 10px;">Режим
                                                преподавания {{ t.company.name }} компании</a>
                                        </li>

                                        <li>
                                            <form action="{% url 'auth:un_teach' %}" method="post">
                                                {% csrf_token %}
                                                <input type="submit" class="cust-inp"
                                                       value="Отписаться от курирования {{ t.company.name }} компании."/>
                                                <input type="hidden" name="teacher_group_name"
                                                       value="{{ t.company.name }}"/>
                                            </form>
                                        </li>
                                    {% endfor %}

                                {% elif not company %}

                                    <li><a href="{% url 'auth:proposal_to_be_company' %}">
                                        Создать курс <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                {% else %}
                                    {% if company.is_confirmed %}
                                        <li><a href="/admin/">
                                            Управление курсами <span
                                                class="glyphicon glyphicon-stats pull-right"></span></a>
                                        </li>
                                        <li>
                                            <form action="{% url 'auth:delete_company'  company.hash_code %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <input type="submit" style="background-color: #E53935" class="cust-inp"
                                                       value="Удалить компанию">

                                                <input type="hidden" name="company_name" value="{{ company.name }}"/>
                                            </form>
                                        </li>
                                        <li class="divider"></li>

                                    {% else %}
                                        <li>
                                            <a href="auth/user/proposal/{{ company.hash_code }}?parameter=company>">Отправить
                                                повторную заявку<span
                                                        class="glyphicon glyphicon-repeat pull-right"></span></a></li>
                                        <li>
                                            <form action="{% url 'auth:delete_company' company.hash_code %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <input type="submit" style="background-color: #E53935" class="cust-inp"
                                                       value="Удалить заявку."/>
                                                <input type="hidden" name="company_name" value="{{ company.name }}"/>
                                            </form>
                                        </li>

                                    {% endif %}
                                {% endif %}


                            {% endif %}

                            <li class="divider"></li>
                            <li><a href="{% url 'auth:logout' %}">Выйти<span
                                    class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row subscribes">
                <div class="page-header text-center"><h2><strong>Мои подписки</strong></h2></div>

                {% if subscribe %}
                    <div class="col-md-12 owl-carousel owl-theme">
                        {% for sub in subscribe %}
                            <div class="course-item item no-padding text-center">
                                {% cloudinary sub.course.image.url style="height: 14em;" class="col-md-12 no-padding" %}

                                <hr class="line blue">

                                <div class="text-center">
                                    <h4><strong>{{ sub.course.name }}</strong></h4>
                                    <p style="margin-top: -6px">Прогресс: {% progress sub %}</p>
                                </div>

                                <div class="abc" style="margin: 1em; position: absolute;
                                     bottom: 0; left: 0; right: 0;">
                                    <a class="btn colored-button text-center" role="button" style="margin-bottom: 1em;"
                                       href="{% url 'courses:one' sub.course.id %}">
                                        Перейти
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-center" style="margin-bottom: 1em">
                        <h3>У вас еще нет курсов</h3>
                    </div>
                {% endif %}
            </div>


            <div class="row my-courses" style="margin-top:2em;">
                {% if company.is_confirmed %}
                    <div class="page-header text-center"><h2><strong>{{ company.name }}</strong></h2></div>
                    <div class="col-md-12 owl-carousel owl-theme ">
                        {% if company.course_set.all %}
                            {% for course in company.course_set.all %}
                                <div class="course-item item no-padding text-center">
                                    {% cloudinary course.image.url style="height: 14em;" class="col-md-12 no-padding" %}

                                    <hr class="line purple">
                                    <span class="course-name">
                                        <h4><strong>{{ course.name }}</strong></h4>

                                    </span>

                                    <div>
                                        {{ course.creater }}
                                    </div>

                                    <div class="abc" style="margin: 1em; position: absolute;
                                     bottom: 0; left: 0; right: 0">
                                        <a class="btn colored-button text-center"
                                           href="{% url 'courses:one' course.id %}"
                                           role="button" style="margin-bottom: 1em;">Подробнее</a></div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-center" style=" margin-bottom: 2em">

                                <a class="btn btn-sm colored-button" href="/admin/" role="button">Перейти в
                                    режим
                                    управления курса.</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            nav: true,
            loop: false,
            margin: 15,
            navText: [
                "Вперед",
                "Назад"
            ],
            responsive: {
                0: {
                    items: 1
                }
                ,
                600: {
                    items: 3
                }
                ,
                1000: {
                    items: 3
                }
            }
        })
    </script>


{% endblock %}