{% extends "base.html" %}
{% load courses_filters %}
{% load widget_tweaks %}
{% load static %}
{% load cloudinary %}

{% block main %}
    <div class="container">
        <div class="panel">

            <div class="panel-heading">
                <div class="text-center" style="font-size: 35px">
                    <b>Редактировать профиль</b>
                </div>

            </div>
            <hr>
            <div class="panel-body">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-3">
                        <div class="text-center">
                            {% cloudinary student.photo.url width=250 height=250 crop="thumb" radius="max" %}
                            {#                            <h6>Upload a different photo...</h6>#}
                            <form method="POST" enctype="multipart/form-data">
                                {#                                <input type="file" name="{{ stform.photo.html_name }}" value="{{ stform.photo.value }}"#}
                                {#                                       class="form-control">#}
                            </form>
                        </div>
                    </div>

                    <!-- edit form column -->
                    <div class="col-md-9 personal-info">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            Это <strong>.alert</strong>. Используйте его для отображения важных сообщений.
                        </div>


                        <!-- FORMAASDASDASDASD --->


                        <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Фотография:</label>
                                <div class="col-lg-8">
                                    <input type="file" name="{{ stform.photo.html_name }}"
                                           value="{{ stform.photo.value }}"/>
                                    {#                                    {% render_field stform.photo %}#}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Имя:</label>
                                <div class="col-lg-8">
                                    {% render_field usrform.first_name class="form-control" type="text" %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Фамилия:</label>
                                <div class="col-lg-8">
                                    {% render_field usrform.last_name class="form-control" type="text" %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    {% render_field usrform.username class="form-control" type="email" %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Город:</label>
                                <div class="col-lg-8">
                                    {% render_field stform.city class="form-control" type="text" %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Место обучения:</label>
                                <div class="col-lg-8">
                                    {% render_field stform.university class="form-control" type="text" %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Дата рождения:</label>
                                <div class="col-lg-8">
{#                                    {% render_field stform.birthday class="form-control" type="date"%}#}
                                    <input type="date" class="form-control" value="{% correctDate birthday %}" name="{{ stform.birthday.html_name }}"/>
{#                                    <input type="date" value="2000-02-05" name={{ stform.birthday.html_name }}/>#}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <input type="submit" class="btn btn-primary" value="Сохранить изменения">
                                    <span></span>
                                    <input type="reset" class="btn btn-default" value="Отмена">
                                    <a type="button" href="{% url 'auth:profile' %}" class="btn btn-default" value="Cancel">Вернуться в профиль</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}