{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block main %}
    <div class="middlePage">
        <div class="page-header my-page-header">
            <h2 class="panel-logo">EducationSphere
            </h2>
            <p>Создайте свой соственный курс</p>

        </div>

        <div class="panel panel-info no-border-panel">
            <div class="panel-heading" id="my_panel_head">
                <h3 class="panel-title">Расскажите о своей компании.</h3>
            </div>


            <div class="panel-body">
                <div class="errors row text-center" id="errors" style="color: red">
                    {% if messages %}
                        <div class="col-md-6 col-sm-offset-6">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form method="post" class="registration_form" id="proposal-form"
                              action="{% url 'auth:proposal_to_be_company' %}">
                            {% csrf_token %}
                            <div class="form-group spacing ">
                                <label class="col-sm-3 control-label" for="name">Название:</label>
                                <div class="col-sm-9">{% render_field form.name class="form-control input-sm" id='company_name' type="text" %}
                                </div>
                            </div>
                            <div class="spacing"></div>

                            <div class="form-group spacing">
                                <label for="first_name" class="control-label col-sm-3">О компании:</label>
                                <div class="col-sm-9">
                                    {% render_field form.about class="form-control input-sm" id="about" type="textarea" %}
                                </div>
                            </div>

                            <div class="spacing"></div>
                            <div class="form-group spacing">
                                <div class="text-center">
                                    <input type="submit" id="submit" value="Отправить заявку"
                                           style="margin-top: 1em;" class="btn colored-button">

                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button class="close" type="button">
                                                        <a href="{% url 'courses:main' %}">×</a>
                                                    </button>
                                                    <h4 class="modal-title">Уведомление</h4>
                                                </div>
                                                <div class="modal-body"><p>Ваша заявка успешно отправлена.</p>
                                                    После того, как мы подтвердим ее, Вы сможете создать свой курс.
                                                    Для этого Вам необходимо перейти на страницу профиля и перейти в
                                                    раздел управления курсами.
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-default" type="button">
                                                        <a href="{% url 'auth:profile' %}">Профиль</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/modalWindow.js' %}"></script>
{% endblock main %}
