{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block main %}
    <div class="middlePage row">
        <div class="page-header my-page-header col-sm-10 col-sm-offset-1">
            <h2 class="panel-logo">EducationSphere
            </h2>
            <p>Добро пожаловать!</p>

        </div>

        <div class="row">

            <div class="panel panel-info no-border-panel col-sm-10 col-sm-offset-1">

                <div class="row">
                    <div class="panel-heading col-sm-12" id="my_panel_head">
                        <h3 class="panel-title">Регистрация</h3>
                    </div>
                </div>


                <div class="panel-body">

                    {% if messages %}
                        <div class="errors row" style="color: red">
                            <ul class="messages col-md-6 col-md-offset-1">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}


                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" class="registration_form" action="{% url 'auth:register' %}">
                                {% csrf_token %}
                                <div class="form-group spacing ">
                                    <label class="col-sm-3 control-label" for="email">Email</label>
                                    <div class="col-sm-9">{% render_field form.email class="form-control" type="email" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <div class="form-group spacing">
                                    <label for="first_name" class="control-label col-sm-3">Имя</label>
                                    <div class="col-sm-9">
                                        {% render_field form.first_name class="form-control input-sm" type="text" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <div class="form-group spacing">
                                    <label for="last_name" class="control-label col-sm-3">
                                        Фамилия
                                    </label>
                                    <div class="col-sm-9 ">
                                        {% render_field form.last_name class="form-control input-sm" type="text" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <div class="form-group spacing">
                                    <label for="city" class="control-label col-sm-3">
                                        Город
                                    </label>
                                    <div class="col-sm-9">
                                        {% render_field form.city class="form-control input-sm" type="text" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>


                                <style>
                                    select {
                                        font-family: inherit;
                                        font-size: inherit;
                                        line-height: inherit;
                                        border-radius: 2px;
                                        background-color: white;
                                        width: 8em;
                                        color: #555;
                                        height: 30px;
                                        border: 1px solid #ccc;
                                    }
                                </style>
                                <div class="form-group spacing">
                                    <label for="birthday" class="control-label col-sm-3">
                                        Дата рождения
                                    </label>
                                    <div class="col-sm-9">
                                        {% render_field form.birthday class="form-control input-sm" id="datetimepicker1" type="date" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <div class="form-group spacing">
                                    <label for="university" class="control-label col-sm-3">
                                        Университет
                                    </label>
                                    <div class="col-sm-9">
                                        {% render_field form.university class="form-control input-sm" type="text" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <div class="form-group spacing">
                                    <label for="password" class="control-label col-sm-3">
                                        Пароль
                                    </label>
                                    <div class="col-sm-9">
                                        {% render_field form.password class="form-control input-sm" type="password" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <div class="form-group spacing">
                                    <label for="password_again" class="control-label col-sm-3">
                                        Повторите пароль
                                    </label>
                                    <div class="col-sm-9">
                                        {% render_field form.password_again class="form-control input-sm" type="password" %}
                                    </div>
                                </div>
                                <div class="spacing"></div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <input type="submit" value="Зарегистрироваться" class="btn colored-button">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#birthday').datepicker();
    </script>

{% endblock main %}

