{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block main %}
    <div class="middlePage">
        <div class="page-header">
            <h1 class="logo">EducationSphere
                <small></small>
            </h1>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" id="my_panel_head">
                <h3 class="panel-title">Поддержка курса.</h3>
            </div>

            <div class="panel-body">
                <div class="errors row text-center" id="errors" style="color: red">
                    {% if messages %}
                        <div class="col-md-6 col-sm-offset-6">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form method="post" class="registration_form" action="{% url 'courses:support' course_id %}">
                            {% csrf_token %}
                            <div class="form-group spacing ">
                                <label class="col-sm-3 control-label" for="name">Тема:</label>
                                <div class="col-sm-9">{% render_field form.subject class="form-control input-sm" type="text" %}
                                </div>
                            </div>
                            <div class="spacing"></div>

                            <div class="form-group spacing">
                                <label for="first_name" class="control-label col-sm-3">Ваше сообщение:</label>
                                <div class="col-sm-9">
                                    {% render_field form.message class="form-control" type="textarea" %}
                                </div>
                            </div>
                            <div class="spacing"></div>

                            <div class="form-group">
                                <div class="text-center">
                                    <input type="submit" id="submit" value="Отправить письмо"
                                           style="margin-top: 1em;" class="btn colored-button">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}