{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestTemplate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
<p>
  <button class="btn btn-large btn-primary" type="button">Большая кнопка</button>
  <button class="btn btn-large" type="button">Большая кнопка</button>
</p>
<p>
  <button class="btn btn-primary" type="button">Кнопка по умолчанию</button>
  <button class="btn" type="button">Кнопка по умолчанию</button>
</p>
<p>
  <button class="btn btn-small btn-primary" type="button">Маленькая кнопка</button>
  <button class="btn btn-small" type="button">Маленькая кнопка</button>
</p>
<p>
  <button class="btn btn-mini btn-primary" type="button">Мини-кнопка</button>
  <button class="btn btn-mini" type="button">Мини-кнопка</button>
</p>

</body>
</html>